<section class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">

      <div *ngIf="successMessage" class="alert alert-success fade show">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="alert alert-danger fade show">{{ errorMessage }}</div>

      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Add a New Room</h2>
        <a routerLink="/existing-rooms" class="btn btn-warning" style="font-weight: bold;">← Back</a>
      </div>

      <form (ngSubmit)="handleSubmit()">
        <div class="mb-3">
          <label class="form-label" for="roomType">Room Type</label>
            <app-room-type-selector
              [roomType]="newRoom.roomType"
              (roomTypeChange)="newRoom.roomType = $event">
          </app-room-type-selector>
        </div>

        <div class="mb-3">
          <label class="form-label" for="roomPrice">Room Price</label>
          <input
            required
            type="number"
            name="roomPrice"
            id="roomPrice"
            [(ngModel)]="newRoom.roomPrice"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="photo">Room Photo</label>
          <input
            required
            type="file"
            id="photo"
            name="photo"
            class="form-control"
            (change)="handleImageChange($event)"
          />
          <img *ngIf="imagePreview"
               class="mb-3"
               [src]="imagePreview"
               alt="Preview"
               style="max-width: 400px; max-height: 400px;" />
        </div>

        <div class="d-grid gap-2 d-md-flex mt-2">
          <button type="submit" class="btn btn-outline-primary ml-5">
            Save Room
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
