<!-- <div class="slider-wrapper">
  <div class="shortcuts">
    <button (click)="today()">Today</button>
    <button (click)="yesterday()">Yesterday</button>
    <button (click)="thisWeek()">This Week</button>
    <button (click)="lastWeek()">Last Week </button>
    <button (click)="thisMonth()">This Month</button>
    <button (click)="lastMonth()">Last Month</button>
    <button (click)="clear()">Clear</button>
  </div>

  <div class="calendar-inputs">
    <label>Start:</label>
    <input 
      type="date"
      [value]="startDate ? (startDate | date:'yyyy-MM-dd') : ''"
      (change)="onStartChange(($event.target as HTMLInputElement).value)"
    />

    <label>End:</label>
    <input
      type="date"
      [value]="endDate ? (endDate | date:'yyyy-MM-dd') : ''"
      (change)="onEndChange(($event.target as HTMLInputElement).value)"
    />
  </div>
</div> -->
